{% extends "base.html" %}
{% block content %}

<div class="box">
	<h1>Ayomi Test</h1>

  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Se connecter</a>
  <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">S'enregistrer</a>
    {% if logged_in: %}
    <a href="{{ url_for('user_info') }}" class="btn btn-primary btn-block btn-large">Mes informations</a>
    {% endif %}
</div>

{% endblock %}