{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% if error_msg: %}
        <h3 class="cant-connect">{{ error_msg }}</h3>
{% endif %}
<div class="box">
    <h1>Se connecter</h1>

    <form action="{{ url_for('login') }}" method="post" class="form">
        {{ wtf.quick_form(form, novalidate=True) }}
    </form>
</div>

{% endblock %}