{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="box">
	<h1>S'enregistrer</h1>
    <form action="{{ url_for('register') }}" method="post">
		{{ wtf.quick_form(form, novalidate=True) }}
    </form>
</div>

{% endblock %}