{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div class="container">
        <h1 class="title" style="color:white;">Votre adresse mail est: {{ email }}</h1>
        <a href="" class="btn btn-primary btn-block btn-large" data-toggle="modal" data-target="#exampleModal">Modifier mes informations</a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="background-color:#5CADCD;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier adresse mail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ wtf.quick_form(form, novalidate=True) }}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}